// ------------------------------------------------------------------------- //
// Icons
// ------------------------------------------------------------------------- //

[class*='icon-'] {
	width:16px;
	height:16px;
	fill:$onyx-medium;
}

.icon-logo-roi {
	width:113px;
	height:38px;
}

.icon-logo-technopolis {
	width:134px;
	height:18px;
}
