// ------------------------------------------------------------------------- //
// Icons
// ------------------------------------------------------------------------- //

[class*='icon-'] {
	width:24px;
	height:24px;
	fill:$grey;
}

.icon-bag {
	width:41px;
}

.icon-logo-roi {
	width:113px;
	height:38px;
}
