// ------------------------------------------------------------------------- //
// Layout
// ------------------------------------------------------------------------- //
html,
body {
	height:100%;
}

.page-wrap {
	position:relative;
	display:flex;
	width:100%;
	height:100%;
	flex-direction:column;
}

.copyright {
	padding:rem(10) 0;
	background:$blue-light;

	p {
		margin-left:rem(20);
		font-size:rem(11);
	}

	.tube & {
		background:$onyx-light;
	}
}


.location-info {
	li {
		margin:rem(7 0 0);
		color:$active;
	}

	[class*='icon-'] {
		position:relative;
		top:3px;
		fill:$active;
	}
}
