// ------------------------------------------------------------------------- //
// Weekend
// ------------------------------------------------------------------------- //
.splash {
	@include flexbox();
	@include flex-direction(column);
	@include align-items(center);

	position:absolute;
	top:0;
	right:0;
	bottom:-1px;
	left:0;
	overflow:hidden;
	background-image:linear-gradient(-180deg, #006EAA 0%, #0098D8 100%);
	z-index:10000;

	&::after {
		content:'';
		position:absolute;
		top:0;
		right:-4px;
		width:calc(100% + 4px);
		height:295px;
		background:url('../images/splash-gradient.svg') top left no-repeat;
		background-size:calc(100% + 4px);
	}

	h1 {
		font-family:'museo_slab_light';
		font-size:rem(24);
		font-weight:300;
		color:$white;
	}

	.app-info {
		@include flexbox();
		@include flex-direction(column);
		@include justify-content(flex-end);
		@include align-items(center);
		@include flex(1);

		[class*='icon-'] {
			margin-bottom:rem(24);

			&.icon-logo-technopolis-white {margin-bottom:rem(10);}
		}
	}

	.copyright {
		@include flexbox();
		@include align-items(flex-end);
		@include flex(1);

		background:transparent;

		[class*='icon-'] {margin-bottom:rem(20);}

		.icon-logo-emergn {
			margin-left:rem(20);
		}
	}
}

@media #{$desktop} {
	.splash {border-radius:10px;}
}
