// ------------------------------------------------------------------------- //
// Weekend
// ------------------------------------------------------------------------- //
.splash {
	@include flexbox();
	@include flex-direction(column);
	@include align-items(center);

	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-image:linear-gradient(-180deg, #005CB9 0%, #1C1363 100%);
	z-index:10000;

	h1 {
		font-family:'san_francisco_textlight';
		font-size:rem(24);
		color:$white;
	}

	.app-info {
		@include flexbox();
		@include flex-direction(column);
		@include justify-content(flex-end);
		@include align-items(center);
		@include flex(1);

		[class*='icon-'] {
			margin-bottom:rem(24);

			&.icon-logo-technopolis-white {margin-bottom:rem(10);}
		}
	}

	.copyright {
		@include flexbox();
		@include align-items(flex-end);
		@include flex(1);

		background:transparent;

		[class*='icon-'] {margin-bottom:rem(20);}
	}
}

@media #{$desktop} {
	.splash {border-radius:10px;}
}
