// ------------------------------------------------------------------------- //
// timeline
// ------------------------------------------------------------------------- //
.timeline-wrap {
	min-height:0;
	flex:1 1 auto;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
}

.timeline {
	li {
		@include flexbox();
		@include align-items(center);

		padding:0 rem(25);
		min-height:rem(60);
		background:$grey-light;
		box-shadow:inset 0 -1px 0 0 rgba(153, 153, 153, .25);
	}

	.time {
		font-family:'san_francisco_textlight';
		font-size:rem(32);
	}

	.time-info {
		padding:0 0 0 rem(20);
		text-align:left;

		.info {
			font-size:rem(17);
		}

		.desc {
			font-size:rem(12);
		}
	}

	// Tube modifications
	.tube & {
		li {
			@include flex-direction(row-reverse);
			@include justify-content(space-between);
			background:#F2F7FB;
			text-align:right;
		}

		.time-info {
			padding:0 rem(20) 0 0;
		}

		li.break {
			@include flex-direction(row);
		}
	}

	// Statuses
	li.success {
		background:#1AAE90;
		color:$white;
	}

	li.warning {
		background:#EDC227;
	}

	li.alert {
		background:#DE4939;
		color:$white;
	}

	li.break {
		background:$grey;
		color:$white;

		a {
			color:$white;
		}

		.time-info {
			padding:0;
			width:100%;
		}

		[class*='icon-'] {
			fill:$white;
		}
	}

	li.disabled {
		color:#9B9B9B;
	}

	li.special-offer {
		color:#DE4939;
	}

}
