//
// Table of Contents
//

// 1. Global
// 2. Typography
// 3. Colors
// 4. Path to Images

// 1. Global
// z-index master list
$offscreen-zindex: -9000px;

//// 2. Typography

// 3. Colors
$black: #000;
$white: #FFF;
$primary: #006EAA;
$active: #005CB9;
$grey: #4A4A4A;
$grey-light: #F5F5F5;

// 4. Path to Images
$get-path-to-images: '../images';
